# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.bak/
.env.local/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Model files (optional: comment out if you want to track models)
# models/*.h5

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Cache
.cache/

# Envrionment variables
.env

# Images downloaded from Kaggle
data/
data_raw/

# Files to be secured
README_Local.md
sign_language_translator_v1.ipynb
sign_language_translator_v2.ipynb
kaggle.json
tasks_progress.txt